<app-header></app-header>


<div class="container my-5">
  <h6 class="text-end mb-3 text-success">{{time | date : 'fullDate'}}</h6>

  <div class="row">
    <div class="col-md-4">
      <h4 class="mt-5">Filter</h4>
      <div class="mt-5">
        <button (click)="nofilter()" class="btn">All</button>

      </div>




      <button class="btn mt-5" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Cuisine Type
      </button>


      <div class="collapse" id="collapseExample">
        @for (item of cuisineType; track $index) {
        <button (click)="filterCuisine(item)" class="btn">{{item}}</button>
        }
      </div>

      <!-- <div class="dropdown my-5">
  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Cuisine
  </button>
  <div class="dropdown-menu border-0">
  @for (item of cuisineType; track $index) {   
   <button class="btn">{{item}}</button> 
  }
  </div>
</div> -->
      <br />
      <button class="btn mt-5" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Meal Type
      </button>
      <br />

      <div class="collapse" id="collapseExample2">
        @for (item of mealType; track $index) {
        <button (click)="filterMealType(item)" class="btn">{{item}}</button>
        }
      </div>

    </div>
    <div class="col-md-8">
      <div class="d-flex justify-content-between">
        <h1>All Recipes</h1>
        <input [(ngModel)]="searchKey" type="text" placeholder="Search Recipes here!" class="form-control w-50">
      </div>
      <div class="row my-5">
        @if(allRecipes.length>0){

        @for (item of allRecipes | search :searchKey | paginate: { itemsPerPage: 6, currentPage: p }; track $index) {
        <div class="col-md-4 p-4 ">
          <img [src]="item.image" alt="no image" class="w-100 rounded" (click)="viewRecipe(item._id)" >
          <h4 class="mt-2">{{item.name.slice(0,15)}}...</h4>
          <p>Cuisine : {{item.cuisine}}</p>
        </div>
        }
        }
        @else {
        <h1>Loading...</h1>
        }

      </div>

      <div class="d-flex justify-content-center align-items-center my-5 w-100">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      </div>


    </div>
  </div>
</div>