<app-adminheader></app-adminheader>
<div class="container-fluid p-0 overflow-x-hidden">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md-10 p-0 ">
            <div class="w-100 bg-warning p-3">
                <h1><i class="fa-solid fa-message me-3"></i>Requests</h1>
            </div>
            <h3 class="text-center my-3">All Testimonial Requests</h3>

            <div class="table-responsive px-4 my-5">
                @if(allTestimonial.length>0){
                <table class="table table-bordered shadow">
                    <thead>
                        <tr>
                            <th class="bg-success text-light">Sl</th>
                            <th class="bg-success text-light">User Name</th>
                            <th class="bg-success text-light">User Email</th>
                            <th class="bg-success text-light"> Message</th>
                            <th class="bg-success text-light"> Status</th>


                        </tr>
                    </thead>
                    <tbody>
                        @for (item of allTestimonial; track $index) {
                        <tr>
                            <td>{{$index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.message}}</td>
                            <td>
                                @if(item.status == 'pending'){
                                <button type="button" (click)="statusChange(item._id,'approved')" class="btn btn-success">Approve</button>
                                <button type="button" (click)="statusChange(item._id,'rejected')"  class="btn btn-danger">Reject</button>
                                }
                                @else if(item.status == 'rejected'){
                                <h5 class="text-danger">Rejected</h5>
                                }
                                @else if(item.status == 'approved'){
                                <h5 class="text-success">Approved</h5>
                                }
                                @else {
                                <h5>Loading...</h5>
                                }


                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                }
                @else {
                <h3 class="text-danger">No Requests...</h3>

                }

            </div>
        </div>
    </div>
</div>