<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 bg-success d-flex justify-content-center align-items-center p-5">
            <img src="https://www.pngkit.com/png/full/87-870696_sabzigadi-story-organic-cookbook-healthy-and-delicious-food.png" alt="no image">
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center p-5 flex-column">
            <h1>Welcome to Cookpedia</h1>
            <p class="mt-4">Discover 100+ recipe in your hand with the best recipe. <br> Helps you to find easiest way to cook.</p>
        </div>
    </div>
<div class="row my-5">
    <div class="col-md-6">
        <h1>About Us</h1>
        <p class="mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi laborum, minima odit hic quia, eum quam, aspernatur itaque aliquam quaerat non necessitatibus minus atque asperiores consequatur alias nihil. Reiciendis, accusantium?</p>
        <ul class="my-4">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil?</li>
            <li>Lorem ipsum dolor sit amet consectetur.</li>
            <li>Lorem ipsum dolor sit amet consectetur Lorem, ipsum.</li>
        </ul>
        <button class="btn btn-success">Know more about us</button>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/046/822/681/small_2x/a-chef-in-uniform-holding-a-tray-of-food-isolated-on-a-transparent-background-png.png" alt="no image">
    </div>
</div>
</div>