<app-adminheader></app-adminheader>
<div class="container-fluid p-0 overflow-x-hidden">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md-10 p-0 ">
            <div class="w-100 bg-warning p-3">
                <h1><i class="fa-solid fa-bowl-rice me-3"></i>Recipes</h1>
            </div>
            <h3 class="text-center my-3">Recipe List</h3>
            <div class="d-flex justify-content-between px-4 mt-4">
                <button class="btn btn-primary">Add Recipe <i class="fa-solid fa-plus ms-2"></i></button>
                <input type="text" placeholder="name" class="form-control w-25">
            </div>
            <div class="table-responsive px-4 my-5">
                <table class="table table-bordered shadow">
                    <thead>
                        <tr>
                            <th class="bg-success text-light">Sl</th>
                            <th class="bg-success text-light">Name</th>
                            <th class="bg-success text-light">Image</th>
                            <th class="bg-success text-light">Cuisine</th>
                            <th class="bg-success text-light">...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>dummy</td>
                            <td><img src="" alt="no image"></td>
                            <td>dummy</td>
                            <td>
                                <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-square"></i></button>
                                <button class="btn btn-outline-danger ms-4"><i class="fa-solid fa-trash-can"></i></button>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="text-danger">No Recipes...</h3>
            </div>
        </div>
    </div>
</div>