<div class="container">
    <div class="row" style="width: 100%; height: 100vh;">
        <div class="col-md-3"></div>
        <div class="col-md-6 d-flex justify-content center align-items-center flex-column">
            <img src="https://cdn.svgator.com/images/2024/04/electrocuted-caveman-animation-404-error-page.gif" alt="no image" class="w-100">
        <h1>Looks like you lost the path</h1>
        <button routerLink="/" class="btn btn-success mt-5">Back Home</button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
